<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>实现的源码</key>
	<string>- (id)init {
    if (self = [super init]) {
        
    }
    return self;
}


- (void)fillSelfWithDict:(NSDictionary *)dict {
    [super fillSelfWithDict:dict];
    
}</string>
</dict>
</plist>
